{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "semi": true,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "singleAttributePerLine": true,
  "arrowParens": "always",
  "trailingComma": "es5",
  "bracketSameLine": false,
  "jsxSingleQuote": false,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "printWidth": 80,
  "tailwindFunctions": ["clsx", "cn", "tv"],
  "plugins": ["prettier-plugin-tailwindcss"]
}
